<div class="connection-permissions">
  <div class="header tabbed">
    <h2>{{'MANAGE_USER.SECTION_HEADER_CONNECTIONS' | translate}}</h2>
    <guac-group-list-filter connection-group-properties="filteredConnectionGroupProperties"
                            connection-groups="getRootGroups()"
                            connection-properties="filteredConnectionProperties"
                            filtered-connection-groups="filteredRootGroups"
                            placeholder="'MANAGE_USER.FIELD_PLACEHOLDER_FILTER' | translate"></guac-group-list-filter>
  </div>
  <guac-section-tabs current="currentTab" namespace="MANAGE_USER" tabs="tabs"></guac-section-tabs>
  <div class="section">
    <guac-group-list
        connection-groups="filteredRootGroups"
        context="groupListContext"
        page-size="20"
        templates="{
                'connection'       : 'app/manage/templates/connectionPermission.html',
                'sharing-profile'  : 'app/manage/templates/sharingProfilePermission.html',
                'connection-group' : 'app/manage/templates/connectionGroupPermission.html'
            }"></guac-group-list>
  </div>
</div>