<div class="related-objects" ng-hide="isEmpty()">
  <div class="header">
    <h2>{{ header | translate }}</h2>
    <div class="filter">
      <input class="search-string" ng-model="filterString"
             placeholder="{{ 'SETTINGS_USERS.FIELD_PLACEHOLDER_FILTER' | translate }}"
             type="text">
    </div>
  </div>

  <div class="section">

    <!-- Abbreviated list of only the currently selected objects -->
    <div class="abbreviated-related-objects">
      <img alt="Expand" class="expand" ng-click="expand()" ng-hide="expanded"
           src="images/arrows/right.svg">
      <img alt="Collapse" class="collapse" ng-click="collapse()" ng-show="expanded"
           src="images/arrows/down.svg">
      <p class="no-related-objects" ng-hide="identifiers.length">{{ emptyPlaceholder | translate
        }}</p>
      <ul>
        <li ng-repeat="identifier in identifiers | filter: filterString">
          <label><img alt="Remove" class="remove" ng-click="removeIdentifier(identifier)"
                      ng-show="isEditable[identifier]"
                      src="images/x-red.svg"><span
              class="identifier">{{ identifier }}</span>
          </label>
        </li>
      </ul>
    </div>

    <!-- Exhaustive, paginated list of all objects -->
    <div class="all-related-objects" ng-show="expanded">
      <p class="no-objects-available" ng-hide="identifiersAvailablePage.length">{{
        unavailablePlaceholder | translate }}</p>
      <ul>
        <li ng-repeat="identifier in identifiersAvailablePage">
          <label><input ng-change="identifierChanged(identifier)"
                        ng-model="identifierFlags[identifier]"
                        type="checkbox">
            <span class="identifier">{{ identifier }}</span>
          </label>
        </li>
      </ul>

      <!-- Pager controls for user list -->
      <guac-pager items="identifiersAvailable | orderBy | filter: filterString"
                  page="identifiersAvailablePage"
                  page-size="25"></guac-pager>
    </div>

  </div>
</div>