<div class="manage-sharing-profile view" ng-class="{loading: !isLoaded()}">

  <!-- Main property editor -->
  <div class="header">
    <h2>{{'MANAGE_SHARING_PROFILE.SECTION_HEADER_EDIT_SHARING_PROFILE' | translate}}</h2>
    <guac-user-menu></guac-user-menu>
  </div>
  <div class="section">
    <table class="properties">
      <tr>
        <th>{{'MANAGE_SHARING_PROFILE.FIELD_HEADER_NAME' | translate}}</th>
        <td><input autocapitalize="off" autocorrect="off"
                   ng-model="sharingProfile.name" type="text"></td>
      </tr>
      <tr>
        <th>{{'MANAGE_SHARING_PROFILE.FIELD_HEADER_PRIMARY_CONNECTION' | translate}}</th>
        <td>{{primaryConnection.name}}</td>
      </tr>
    </table>
  </div>

  <!-- Sharing profile attributes section -->
  <div class="attributes">
    <guac-form content="attributes" model="sharingProfile.attributes"
               model-only="!managementPermissions.canChangeAllAttributes"
               namespace="'SHARING_PROFILE_ATTRIBUTES'"></guac-form>
  </div>

  <!-- Sharing profile parameters -->
  <h2 class="header">{{'MANAGE_SHARING_PROFILE.SECTION_HEADER_PARAMETERS' | translate}}</h2>
  <div class="section connection-parameters" ng-class="{loading: !parameters}">
    <guac-form content="protocols[primaryConnection.protocol].sharingProfileForms"
               model="parameters"
               namespace="getNamespace(primaryConnection.protocol)"></guac-form>
  </div>

  <!-- Form action buttons -->
  <management-buttons clone="cloneSharingProfile()"
                      delete="deleteSharingProfile()"
                      namespace="MANAGE_SHARING_PROFILE"
                      permissions="managementPermissions"
                      return="returnToConnectionList()"
                      save="saveSharingProfile()">
  </management-buttons>

</div>
