<div class="action-buttons">
  <button class="save" ng-click="saveObject()" ng-show="permissions.canSaveObject">{{namespace +
    '.ACTION_SAVE' | translate}}
  </button>
  <button class="clone" ng-click="cloneObject()" ng-show="permissions.canCloneObject">{{namespace +
    '.ACTION_CLONE' | translate}}
  </button>
  <button class="cancel" ng-click="cancel()">{{namespace + '.ACTION_CANCEL' | translate}}</button>
  <button class="danger delete" ng-click="deleteObject()" ng-show="permissions.canDeleteObject">
    {{namespace + '.ACTION_DELETE' | translate}}
  </button>
</div>
