<a ng-href="#/manage/{{item.dataSource}}/connections/{{item.identifier}}"
   ng-class="{active: item.getActiveConnections()}">

    <!-- Connection icon -->
    <div class="icon type" ng-class="item.protocol"></div>

    <!-- Connection name -->
    <span class="name">{{item.name}}</span>

    <!-- Active user count -->
    <span class="activeUserCount" ng-show="item.getActiveConnections()"
        translate="SETTINGS_CONNECTIONS.INFO_ACTIVE_USER_COUNT"
        translate-values="{USERS: item.getActiveConnections()}"></span>

</a>
