<div class="settings section connections" ng-class="{loading: !isLoaded()}">
    <!--
    Copyright 2015 Glyptodon LLC.

    Permission is hereby granted, free of charge, to any person obtaining a copy
    of this software and associated documentation files (the "Software"), to deal
    in the Software without restriction, including without limitation the rights
    to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
    copies of the Software, and to permit persons to whom the Software is
    furnished to do so, subject to the following conditions:

    The above copyright notice and this permission notice shall be included in
    all copies or substantial portions of the Software.

    THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
    IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
    FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
    AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
    LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
    OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
    THE SOFTWARE.
    -->

    <!-- Connection management -->
    <p>{{'SETTINGS_CONNECTIONS.HELP_CONNECTIONS' | translate}}</p>

    <!-- Form action buttons -->
    <div class="action-buttons">

        <a class="add-connection button"
           ng-show="canCreateConnections"
           href="#/manage/{{dataSource}}/connections/">{{'SETTINGS_CONNECTIONS.ACTION_NEW_CONNECTION' | translate}}</a>

        <a class="add-connection-group button"
           ng-show="canCreateConnectionGroups"
           href="#/manage/{{dataSource}}/connectionGroups/">{{'SETTINGS_CONNECTIONS.ACTION_NEW_CONNECTION_GROUP' | translate}}</a>

    </div>

    <!-- List of accessible connections and groups -->
    <div class="connection-list">
        <guac-group-list
            page-size="25"
            connection-groups="rootGroups"
            connection-template="'app/settings/templates/connection.html'"
            connection-group-template="'app/settings/templates/connectionGroup.html'"/>
    </div>
</div>
