
<div class="view">

    <div class="header tabbed">
        <h2>{{'SETTINGS.SECTION_HEADER_SETTINGS' | translate}}</h2>
        <guac-user-menu></guac-user-menu>
    </div>

    <!-- Available tabs -->
    <div class="page-tabs">
        <guac-page-list pages="settingsPages"></guac-page-list>
    </div>

    <!-- Selected tab -->
    <guac-settings-users                ng-if="activeTab === 'users'"></guac-settings-users>
    <guac-settings-user-groups          ng-if="activeTab === 'userGroups'"></guac-settings-user-groups>
    <guac-settings-connections          ng-if="activeTab === 'connections'"></guac-settings-connections>
    <guac-settings-connection-history   ng-if="activeTab === 'history'"></guac-settings-connection-history>
    <guac-settings-sessions             ng-if="activeTab === 'sessions'"></guac-settings-sessions>
    <guac-settings-preferences          ng-if="activeTab === 'preferences'"></guac-settings-preferences>

</div>
