<div class="client-panel"
     ng-class="{ 'has-clients': hasClients(), 'hidden' : panelHidden() }">

    <!-- Toggle panel visibility -->
    <div class="client-panel-handle" ng-click="togglePanel()"></div>

    <!-- List of connection thumbnails -->
    <ul class="client-panel-connection-list">
        <li ng-repeat="client in clients" class="client-panel-connection">
            <a href="#/client/{{client.id}}">
                <div class="thumbnail">
                    <guac-thumbnail client="client"></guac-thumbnail>
                </div>
                <div class="name">{{ client.title }}</div>
            </a>
        </li>
    </ul>

</div>