<?xml version="1.0" encoding="UTF-8"?>
<!--
    Guacamole - Pure JavaScript/HTML VNC Client
    Copyright (C) 2010  Michael Jumper

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <!-- Basic config -->
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <session-config>
        <session-timeout>
			30
        </session-timeout>
    </session-config>
    <!-- Servlets -->
    <servlet>
        <description>Instruction stream servlet.</description>
        <servlet-name>InstructionStream</servlet-name>
        <servlet-class>net.sourceforge.guacamole.net.output.InstructionStream</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InstructionStream</servlet-name>
        <url-pattern>/instructions</url-pattern>
    </servlet-mapping>
    <servlet>
        <description>Input servlet.</description>
        <servlet-name>Inbound</servlet-name>
        <servlet-class>net.sourceforge.guacamole.net.input.Inbound</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Inbound</servlet-name>
        <url-pattern>/inbound</url-pattern>
    </servlet-mapping>
    <security-constraint>
        <display-name>Guacamole Access Restrictions</display-name>
        <web-resource-collection>
            <web-resource-name>Guacamole</web-resource-name>
            <description>All servlets/pages within Guacamole.</description>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description>Only allow Guacamole users access.</description>
            <role-name>guacamole</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>Guacamole</realm-name>
    </login-config>
    <security-role>
        <description>Guacamole</description>
        <role-name>guacamole</role-name>
    </security-role>
</web-app>
