<div class="settings-view import">

    <div class="header">
        <h2>{{'CONNECTION_IMPORT.HEADER' | translate}}</h2>
        <guac-user-menu></guac-user-menu>
    </div>

    <connection-import-file-upload on-file="handleFile(file)"></connection-import-file-upload>

    <div class="import-buttons">
        <button 
            ng-click="import()" ng-disabled="importDisabled()" class="import">
                {{'CONNECTION_IMPORT.BUTTON_IMPORT' | translate}}
        </button>
        <button
            ng-click="cancel()" ng-disabled="cancelDisabled()" class="cancel">
                {{'CONNECTION_IMPORT.BUTTON_CANCEL' | translate}}
        </button>
    </div>

    <!-- The translatable error message, if one is set -->
    <p 
        class="parseError" ng-show="error.key" 
        translate="{{error.key}}" translate-values="{{error.variables}}"
    ></p>
    
    <!-- The base message, if no translatable message is available -->
    <p class="parseError" ng-show="!error.key && error.message">
        {{error.message}}
    </p>


</div>
