<div class="file-upload-container">

    <div class="upload-header">
        <span class="file-options">{{'CONNECTION_IMPORT.UPLOAD_FILE_TYPES' | translate}}</span>
        <a
            href="#/import/connection/file-format-help" target="_blank"
            class="file-help-link">{{'CONNECTION_IMPORT.UPLOAD_HELP_LINK' | translate}}
        </a>
    </div>

    <div class="drop-target" ng-class="{ 'drop-pending': dropPending, 'file-present': fileName}">

        <div ng-show="!fileName" class="title">{{'CONNECTION_IMPORT.UPLOAD_DROP_TITLE' | translate}}</div>

        <input type="file" class="file-upload-input"/>
        <a ng-show="!fileName" ng-click="openFileBrowser()" class="browse-link">
            {{'CONNECTION_IMPORT.UPLOAD_BROWSE_LINK' | translate}}
        </a>

        <div ng-show="fileName" class="file-name"> {{fileName}} </div>

    </div>

    <!-- The translatable error message regarding the provided file(s), if any -->
    <p
        class="file-error" ng-show="error.key"
        translate="{{error.key}}" translate-values="{{error.variables}}"
    ></p>

</div>
