<div class="import view help">

    <div class="header">
        <h2>{{'IMPORT.SECTION_HEADER_HELP_CONNECTION_IMPORT_FILE' | translate}}</h2>
        <guac-user-menu></guac-user-menu>
    </div>

    <h2>{{'IMPORT.HELP_FILE_TYPE_HEADER' | translate}}</h2>
    <p>{{'IMPORT.HELP_FILE_TYPE_DESCRIPTION' | translate}}</p>

    <h2>{{'IMPORT.SECTION_HEADER_CSV' | translate}}</h2>
    <p>{{'IMPORT.HELP_CSV_DESCRIPTION' | translate}}</p>
    <p>{{'IMPORT.HELP_CSV_MORE_DETAILS' | translate}}</p>
    <pre>{{'IMPORT.HELP_CSV_EXAMPLE' | translate }}</pre>

    <h2>{{'IMPORT.SECTION_HEADER_JSON' | translate}}</h2>
    <p>{{'IMPORT.HELP_JSON_DESCRIPTION' | translate}}</p>
    <p>{{'IMPORT.HELP_JSON_MORE_DETAILS' | translate}}</p>
    <pre>{{'IMPORT.HELP_JSON_EXAMPLE' | translate }}</pre>

    <h2>{{'IMPORT.SECTION_HEADER_YAML' | translate}}</h2>
    <p>{{'IMPORT.HELP_YAML_DESCRIPTION' | translate}}</p>
    <pre>{{'IMPORT.HELP_YAML_EXAMPLE' | translate}}</pre>

    <ol class="footnotes">
        <li>{{'IMPORT.HELP_SEMICOLON_FOOTNOTE' | translate}}</li>
    </ol>

</div>
