{# vim: set filetype=markdown.jinja : #}
{%- import 'include/ext-macros.md.j2' as ext with context -%}

Retrieving secrets from a vault
===============================

Guacamole supports reading secrets such as connection-specific passwords from a
key vault, automatically injecting those secrets into connection configurations
using [parameter tokens](parameter-tokens) or Guacamole configuration
properties via an additional, vault-specific configuration file analogous to
`guacamole.properties`. The module supports both [OpenBao](https://openbao.org) 
and [Hashicorp Vault](https://www.hashicorp.com/products/vault) as the vault
provider.

```{include} include/warn-config-changes.md
```

(vault-downloading)=

Installing/Enabling the vault extension
---------------------------------------

{{ ext.install('openbao', 'guacamole-vault', 'openbao/guacamole-vault-openbao') }}

(adding-guac-to-vlt)=

### Adding Guacamole to Hashicorp or OpenBao

Allowing an application like Guacamole to access secrets via an OpenBao
or Hashicorp Vault involves creating appropriate mount paths for the 
secret engines and the needed authentication parameters. It is not the 
objective of this document to discuss the creation and maintenance of 
Vault mount paths and the user is refered to the [OpenBao](https://openbao.org/docs)
or [Hashicorp Vault](https://developer.hashicorp.com/vault/docs) for this
information.

This document will discuss examples of setting up the supported
secret engines of the Vault for Guacamole with concrete examples. To remain
independant of both OpenBao and Hashicorp Vault, the configuration below 
will be done exclusively with `curl`.

#### Vault connection information

The minimum information needed by Guacamole to be setup are in address of the
Vault server, including its associated port, and the means of authentication to the
server. The Vault server uses a standard HTTP REST API and a typical URI might
look like `https://vault.example.com:8200`.

#### Setup up a Guacamole Access Policy

Guacamole only needs read access to the secret engine mount path and only to the 
paths that are actually used in Guacamole. It therefore makes sense to limit 
Guacamole's access to the Vault secrets by a specific policy. It should also be
noted that Guacamole uses the special mount path `sys/mounts` to list the available
mount paths and detect the type of the secret engine used on this mount path.

To allow proper auditing of the access to the Vault, the created policy should be
dedicated to Guacamole. In case of a breach of Guacamole's Vault authentication, this
means that the Vault secrets accessed by the attacker might be known and the number
of remedial actions needed, controlled. 

So, imagine that Guacamole needs access to the 4 mount paths representing the 4 
secret engines supported by Gaucamole, but only to a subset of the roles on the
mount paths of these secret engines respresented by the path `guacamole`

```
$ cat << EOT >> gaucamole.hcl
# Read system mount table
path "sys/mounts" {
  capabilities = ["read"]
}

# Read from guacamole team of ldap mount path for static accounts
path "ldap/static/guacamole/*" {
  capabilities = ["read"]
}

# Read from mount path of the SSH engine allowing generation of signed
# certificates for the accounts managed by guacamole
path "ssh/cert/guacamole/*" {
  capabilities = ["read"]
}

# Read from mount path of the database mount path dediciated to Guacamole
path "db/guacamole/*" {
  capabilities = ["read"]
}

# Read from mount path of the key-values store dediciated to Guacamole
path "kv/guacamole/*" {
  capabilities = ["read"]
}
EOT
```

We then need to upload this policy to the vault.

```
$ export VAULT_TOKEN=...
$ curl -sS \
  --header "X-Vault-Token: $VAULT_TOKEN" \
  --request PUT \
  --data @gaucamole.hcl \
  http://127.0.0.1:8200/v1/sys/policies/acl/guacamole
```

where `VAULT_TOKEN` is a valid Vault token allowing administrative access. It
also assumes that the vault server is running locally and on http. This 
creates a policy called `guacamole` in the vault for our use.

The mount paths above are examples and should be adapted the paths you actually
use.

#### Creating a key-values store for guacamole

The simplest means of storing and accessing secrets in a Vault is using the key-values
secret engine. This secret engine can store arbitrary values associated with a key.
Appropriate uses of this secret engine are for unmanaged accounted of the client machines,
certificates, etc. The secret rotation features of the Vault can not be used with this
secret engine, so the use of this secret engine for password storage means that the user
is entirely responsable for the adherance to any corporate password policies.

The key-values secret engine, comes in two varieties. The older version 1, where only 
the latest values are stored, or the newer version 2 that also stores metadata about the
stored values ,including the last time the values were changed.

The first step is to enable to secret engine. To enable the version 1 secret engine of a
mount path  `kv1`, the command might be

```
curl -s --header "X-Vault-Token: $VAULT_TOKEN" --header "Content-Type: application/json" \
    --request POST --data '{"type": "kv", "options": {"version": "1"}}' \
    http://127.0.0.1:8200/v1/sys/mounts/kv1
```

and for a version 2 secret engine mounted on the path `kv2` the command might be

```
curl -s --header "X-Vault-Token: $VAULT_TOKEN" --header "Content-Type: application/json" \
    --request POST --data '{"type": "kv", "options": {"version": "2"}}' \
    http://127.0.0.1:8200/v1/sys/mounts/kv2
```

At this point the secret engines are mounted, but they contain no secrets. To add a secret
to the version 1 secret engine the command is

```
curl -s --header "X-Vault-Token: $VAULT_TOKEN" --header "Content-Type: application/json" \
    --request POST --data '{"username": "bruce", "password": "wayne"}' \
    http://127.0.0.1:8200/v1/kv1/users/batman
```

Here the path of the key is `users/batman`. Complex paths are allowed to seperate groups
of users. The stored secrets are `username` and `password`. However, any string could be
used for these.

The command for a version 2 key-value store is slightly different. with the equivalent
command to the above being

```
curl -s --header "X-Vault-Token: $VAULT_TOKEN" --header "Content-Type: application/json" \
    --request POST --data '{"data": {"username": "bruce", "password": "wayne"}}' \
    http://127.0.0.1:8200/v1/kv2/data/users/batman
```

#### Creating an SSH secret engine for Guacamole

The SSH secret engine allows two means of operation: signed SSH certificates or one-time 
passwords. The better more modern of these is signed SSH certificates, though Guacamole
supports both SSH methods.

We first need to enable the ssh secret engine with a command like

```
curl -s --header "X-Vault-Token: $VAULT_TOKEN" --header "Content-Type: application/json" \
    --request POST --data '{"type": "ssh"}' http://127.0.0.1:8200/v1/sys/mounts/ssh
```

which mounts the secret engine on the mount path `ssh`. For certificate signing, the Vault
needs a valid CA certificate and its private key. These might be uploaded to the Vault, but
for this example we let the Vault create these value itself. The command for this is

```
curl -s --header "X-Vault-Token: $VAULT_TOKEN" --header "Content-Type: application/json" \
    --request POST --data '{"generate_signing_key": true}' \
    http://127.0.0.1:8200/v1/ssh/config/ca
```

The returned value of `public_key` must be stored on the target machines, for example in the
file `/etc/ssh/trusted_user_ca.pem`. SSH of these target machines must then be changed to allow
certificates signed with this public key. For OpenSSH this could then be achieved by adding

```
TrustedUserCAKeys /etc/ssh/trusted_user_ca.pem
```

to the file `/etc/ssh/sshd_config`.

The next step to allow signed SSH certificates is setting up a role in the SSH secret
engine for Guacamole. Guacamole needs the `permit-pty` option of ssh, and so the creation
of a signing role `signer` might be done with the command

```
$ curl -sS \
  --header "X-Vault-Token: $VAULT_TOKEN" \
  --header "Content-Type: application/json" \
  --request POST \
  --data '{
     "algorithm_signer": "rsa-sha2-256", 
     "allow_user_certificates": true, 
     "allowed_users": "*", 
     "key_type": "ca", 
     "max_ttl": "30m", 
     "allowed_extensions": "permit-tty"}' \
  http://127.0.0.1:8200/v1/ssh/roles/signer 
```

The `max_ttl` value limits the life of the certificates signed by Guacamole to 
30 minutes. Small values here ensure that the risk of abuse of the signed certificates
is limited, but the value must taken into account both the latence of the ssh conection 
times and the clock drift between the Vault and the SSH client machines. So there is
a limit to how small this value might be without causing problems.

The Vault is now ready for Guacamole to use to signed SSH certificates. To allow the use of
one-time passwords, a specific role needs to be created. The command to create a role
`generate_otp` for a default user `testuser` is 

```
curl -s --header "X-Vault-Token: $VAULT_TOKEN" --header "Content-Type: application/json" \
    --request POST --data '{"key_type": "otp", "default_user": "testuser"}' \
    http://127.0.0.1:8200/v1/ssh/roles/generate_otp 
```

The created role can only be used to create one-time passwords for the account `testuser`
as Guacamole will only request the default user.

Note that the `cidr_list` option is ommitted here. The problem is that the SSH connections
from Guacamole will appear to come from the `guacd` deamon, and within Guacamole's Vault
secret driver we do not have access to the IP address of `guacd`. So Guacamole requests 
one-time passwords without specifying and IP address. This needs an additional change in
the Vault. To allow the role `generate_otp` to be used without IP addresses, the additional
command is

```
curl -s --header "X-Vault-Token: $VAULT_TOKEN" --header "Content-Type: application/json" \
    --request POST --data '{"roles": "generate_otp"}' \
    http://127.0.0.1:8200/v1/ssh/config/zeroaddress 
```

The target machine needs to be setup for the Vault one-time password. Firstly SSH must be
configured to use PAM. As an example of the modification needed to test the one-time
passwords the following line might be added to the top of `/etc/pam.d/sshd`.

```
auth sufficent pam_exec.so expose_authtok /usr/local/bin/verify_otp.sh
```

This is only an example that is guarenteed to work the one-time passwords without 
preventing the existing methods from failing. The user will surely need to adapt 
this to their installation.

The final piece needed on the client machine is the script `/usr/local/sbin/verify_otp.sh`.
A possible script that tests that the user corresponds to the user allowed by the one-time
password and that the one-time password is correct in 


```
#!/bin/sh
set -u

IFS= read -r OTP

USERNAME="${PAM_USER}"

[ -z "${OTP}" ] && exit 1
[ -z "${USERNAME}" ] && exit 2

RESPONSE=$(curl -s \
  --fail \
  --request POST \
  --header "Content-Type: application/json" \
  --data '{"otp": "'${OTP}'"}' \
  http://127.0.0.1:8200/v1/ssh/verify)
[ "$?" -eq 0 ] || exit 4

[ "$(echo $RESPONSE | jq -r .data.username)" = "$USERNAME" ] || exit 5
```

that should be saved at `/usr/local/sbin/verify_otp.sh` and made executable with the 
command

```
chmod 755 /usr/local/sbin/verify_otp.sh
```

:::warning
Using a shell script for a login is not the best security practice, and the user is
encouraged to look at the [Hashicorp Vault SSH Helper](https://github.com/hashicorp/vault-ssh-helper)
:::

#### Creating an LDAP secret engine for Guacamole

 #TODO
 
#### Creating a Database secret engine for Guacamole

 #TODO

#### Authentication using a Token

Guacamole can authenticate to OpenBao using a token. This token must use a role
as previously discussed above and it must not expire. Guacamole can not be guarenteed
to be able to renew a static expiring token, especially after a reboot. 

To create a static token for use with Guacamole, a command like 


```
$ curl -sS \
  --header "X-Vault-Token: $VAULT_TOKEN" \
  --request POST \
  http://127.0.0.1:8200/v1/auth/token/create \
  --data '{
    "policies": ["guacamole"],
    "ttl": "0",
    "renewable": false,
    "display_name": "service-guacamole",
    "no_parent": true
  }'
```

where the `ttl` or zero ensures that the token will not expire. The token to use 
is stored in the value of `.auth.client_token`.

#### Authentication use a Token sink file

Guacamole does not implement complex authentication methods, such as AppRole. But these
can still be used with the help of a [Vault agent](https://openbao.org/https://openbao.org/docs/agent-and-proxy/agent).
The Vault Agent manages the authentication and renewal of the authentication and just
writes a standard Vault service token to a sink file. Guacamole can read this file
at startup or in case of an expiring token and always have a valid token.

The configuration of the Vault Agent is beyond the scope of this document and the user is
encouraged to read the [OpenBao Vault Agent](https://openbao.org/docs/agent-and-proxy/agent)
or [Hashicorp Vault Agent](https://developer.hashicorp.com/vault/docs/agent-and-proxy/agent)
documentation. These vault agents can be used with AppRole authentication as discussed
for [OpenBao AppRole](https://openbao.org/docs/auth/approle) or
[Hashicorp AppRole](https://developr.hashicorp/vault/docs/auth/approle)
secrets.

#### Authentication using Username and Password

If the authentication to Vault is via a username and password, we first need to have
the `userpass` authentication method mounted which it isn't be default. Assuming
a auth mount path of `auth/userpass` this can be done with the command

```
curl -s --header "X-Vault-Token: $VAULT_TOKEN" --header "Content-Type: application/json" \
    --request POST --data '{"type": "userpass"}' \
    http://127.0.0.1:8200/v1/sys/auth/userpass
```

We can then create a dediciated account for Guacamole in the Vault. This can be done
with a command like

```
curl \
  -H "X-Vault-Token: $VAULT_TOKEN" \
  -X POST \
  http://127.0.0.1:8200/v1/auth/userpass/users/guacamole \
  -d '{
    "password": "strong-password-here",
    "policies": ["guacamole"]
  }'
```

This creates a user `guacmaole` using the same policy as previously and sets the
password assuming the userpass engine is mounted on the default path `auth/userpass`.

It should be noted that the Vault can not rotate the passwords of these user
accounts. So the maintenance and update of the password needs to be done manually,
updating the password configured in Guacamole at the same time.


(guac-vault-config)=

Required configuration
----------------------

{% call ext.config('openbao', required=True) %}
Guacamole requires only a single configuration property to configure secret
retrieval from a Vault, `vault-uri`, the address of the vault server. The
option `vault-token` is not strictly necessary, but if it is absent it must
be replaced with `vault-username` and `vault-password` as discussed below.
All other {{ ext.properties() }} are optional.
{% endcall %}

### Additional Configuration Options

{% call ext.config('openbao-optional') %}
The following additional, optional {{ ext.properties() }} may be set as desired
to tailor the behavior of the Vault support:
{% endcall %}


(completing-vault-install)=

Completing installation
-----------------------

```{include} include/ext-completing.md
```

Retrieving connection secrets from a vault
------------------------------------------

Secrets for connection parameters are provided using [parameter
tokens](parameter-tokens) that can be either automatically or manually defined.
Automatic tokens are [defined dynamically by Guacamole when the connection is
used](vault-dynamic-secrets) based on other configuration values within the
connection, such as the connection's `hostname` or `username`. Manual tokens
are injected by Guacamole based on secrets that are [statically mapped using an
additional configuration file](vault-static-secrets).

(vault-dynamic-secrets)=

### Automatic injection of secrets based on connection parameters

Parameter tokens containing the values of secrets within a record are
automatically injected for connections whose parameter values match specific
criteria, such as having a particular `username` or `hostname`. This happens
whenever a connection is used and is fully dynamic, affecting only the state of
the connection from the perspective of the user accessing it.

:::{important}
There are limitations to the degree that secrets can be automatically applied
based on connection parameters:

* Automatic injection of secrets cannot currently be used with balancing
  connection groups, as the underlying connection that the balancing
  implementation will choose cannot be known before token values must be made
  available.

If automatic injection of secrets cannot work for your use case, consider using
[manually-specified secrets via `openbao-token-mapping.yml`](vault-static-secrets).
:::

Parameter tokens injected from Vault records usually take the form
{samp}`$\{VAULT:\{MOUNT_PATH\}/\{PATH\}/\{SECRET\}\}`, where `MOUNT_PATH` is the
mount path of the Vault secret engine used, `PATH` is the path to the secret
record and `SECRET` determines what value is retrieved from that record.

#### Mount path detection

Guacamole automatically detecting all of the available mount paths on the vault server
and detects their type. The selection of which secret engine that Guacamole used is
therefore based the value of `MOUNT_PATH`.

It is possible to have a value of the mount path like `subpath1` and a second mount path
`subpath1/subpath2`. Guacamole therefore chooses the secret engine with the longest 
match to the start of the token.

#### Secret Engines and paths supported

The following Vault secret engines are supported 

`LDAP`
: The Vault secret engine supports both open source ldap servers and Microsoft Active
  Directory. There are three types of LDAP accounts in the Vault. A `static` role has
  a fixed usename, a `dynamic` role is an account created and deleted by the vault for
  the demanded operation, and a `service` role is a pool of accounts managed by the
  vault that can be used.
  
  Guacamole simplifies the tokens for the LDAP paths in the following manner
  
```
${vault://{MOUNT_PATH}/{static|dynamic|service}/{ROLE}/{username/password}}
```
  
  An example of a valid token might then be `${vault://ldap/static/myaccount/username}`,
  where the value of `ROLE` here is `myaccount`.
  
  Please note that Guacamole does not touch the lease times associated with these accounts
  in the vault and it does not check in the service accounts after use.

`SSH`
: The Vault secret engine support both one-time passwords and signed certificate modes of 
  the secret engine. This secret engine required a helper command on the client machines
  and is defined by its role. Tokens for one-time passwords are of the form
  
```
${vault://{MOUNT_PATH}/otp/{ROLE}/{username/password}}
```

  An example of a valid token might then be `${vault://ssh/otp/myaccount/username}`,
  where the value of `ROLE` here is `myaccount`.
  
  Vault does not support the creation of certificates itself, so the role for SSH certificate
  creation is left to Guacamole. A valid SSH token for the creation of a certificate is

```
${vault://{MOUNT_PATH}/cert/{ROLE}/{public/private}}
```

  An example of a valid token might then be `${vault://ssh/cert/myaccount/public}`,
  where the value of `ROLE` here is `myaccount`, and the public certificate for use with
  Guacamole is recovered. For SSH signed certificates the principal name used is determined
  by the `username` of the connection and the certificate will be limited for the use of
  only this user. Also as Guacamole does not need port forwarding the certificate is created
  in a manner that refuses all use of port forwarding.
  
`DATABASE`
: Guacamole supports all databases supported by the Vault database secret engine. The form
of the database tokens are 

```
${vault://{MOUNT_PATH}/{ROLE}/{username/password}}
```

`Key-Values`
: The Vault key-values secret engine is a generic secret engine to store arbitrary
  secrets. This means that it is adapted to clients that are not managed by one of 
  the other three secret engines supported by Guacamole. For example, this engine
  might be used for a password on an unmanaged account of a firewall.
  
  Both the path and secret values of key-value tokens are completely arbitrary and
  a valid token might be of the form
  
```
${vault://{MOUNT_PATH}/{PATH}/{SECRET}
```

  So a token like `vault://kv/org/example/fw1/adminuser` where `kv` is the mount path,
  `org/example/fw1` the path the the record and `adminuser` the username of associated
  with a generic account.
  

In addition, the following sub-tokens can be used with the vault token to modify
its value when it is referenced. These sub-tokens are of the form `{SUB_TOKEN}` 
within the vault token itself. If `{SUB_TOKEN}` is valid literal with the vault
token, you can use `$${SUB_TOKEN}` to ensure it is interpreted as `{SUB_TOKEN}`.
The allowed sub-token values are:

`{USER}`
: The record whose "login" field contains a username that matches the value of
  the `username` parameter of the connection. If the record has no "login" field,
  a "text" or "password" custom field will be used if the label of that field
  contains the word "username" (case-insensitive).

`{SERVER}`
: The record whose "login" field contains a hostname that matches the value of
  the `hostname` parameter of the connection. If the record has no "login" field,
  a "text" or "password" custom field will be used if the label of that field
  contains the word "hostname", "address", or "IP address" (case-insensitive,
  ignoring any spaces between "IP" and "address"). If the record is a KeeperPAM
  resource with linked credentials, it will use the linked administrative credentials.

`{GATEWAY}`
: Identical to `SERVER`, except that the value of the `gateway-hostname`
  parameter is used. This is only applicable to RDP connections.

`{GATEWAY_USER}`
: Identical to `USER`, except that the value of the `gateway-username`
  parameter is used. This is only applicable to RDP connections.

For example `vault://ldap/org/example/{SERVER}/{USER}/password` is a valid vault token.

(vault-static-secrets)=

### Manual definition of secrets

Parameter tokens can be manually defined by placing a YAML file within
`GUACAMOLE_HOME` called `openbao-token-mapping.yml`. This file must contain a set
of name/value pairs where each name is the name of a token to define and each
value is a token in the same form as the above.

For example, the following `openbao-token-mapping.yml` defines two parameter
tokens, `${WINDOWS_ADMIN_PASSWORD}` and `${LINUX_SERVER_KEY}`, each pulling
their values from different parts of different records in KSM:

```yaml
WINDOWS_ADMIN_PASSWORD: vault://ldap/static/org/host/account/password
LINUX_SERVER_KEY: vault://kv/org/host/server_key.pem
```

Token substitution of other parameter tokens like `${GUAC_USERNAME}` is
performed *on the reference to the secret* to allow the reference to vary by
values that may be relevant to the connection. The values of substituted tokens
are URL-encoded before being placed into the reference. In addition, the
sub-tokens as above are allowed within the secret reference.

(guacamole-properties-vlt)=

Retrieving configuration properties from a vault
------------------------------------------------

Secrets for Guacamole configuration properties are provided through [an
additional file within `GUACAMOLE_HOME` called `guacamole.properties.vlt`](guacamole-properties-vlt).
This file is _identical_ to `guacamole.properties` except that the values of properties
are references to Vault secrets in the format as above.

Secrets can be used for any Guacamole configuration property that isn't
required to configure the Vault support.

For example, the following `guacamole.properties.vlt` defines both the
`mysql-username` and `mysql-password` properties using values from a 
role in the Vault database secret engine.

```
mysql-username: vault://db/guacamole/username
mysql-password: vault://db/guacamole/password
```

The secret engine in this case is mounted on the path `db/` and this secret
engine defines a role `guacamole`.
