/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

.prompt {
    border: 1px solid rgba(0, 0, 0, 0.125);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.125);
    background: white;
    color: black;

    vertical-align: middle;
    display: inline-block;
    max-width: 9in;
}

.prompt.error {
    background: #FDD;
}

.prompt .body {
    margin: 0.5em;
}

.prompt .buttons {
    margin: 0.5em;
}

.prompt .title-bar {
    font-size: 1.25em;
    font-weight: bold;

    text-transform: uppercase;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.125);
    background: rgba(0, 0, 0, 0.04);

    padding: 0.5em;
    margin-bottom: 1em;
}

.prompt .parameter {
    width: 100%;
    text-align: left;
    display: table-row;
}

.prompt .parameter .label {
    display: table-cell;
    padding: 2px 5px 2px 5px;
}

.prompt .parameter .labeled-field .field-header {
    display: none;
}

.prompt .parameter .labeled-field .form-field {
    display: table-cell;
    padding: 1px 5px 1px 5px;
}

.prompt .header {
    display: table-row;
    text-align: center;
    width: 100%;
}

.prompt .header .label {
    display: table-cell;
    text-align: center;
    font-weight: bold;
}
