<div class="terminal-color-scheme-field">
    <select ng-model="selectedColorScheme">
        <option ng-repeat="option in field.options | orderBy: value"
                ng-value="option">{{ getFieldOption(option) | translate }}</option>
        <option value="custom">{{ getFieldOption('custom') | translate }}</option>
    </select>
    <table class="custom-color-scheme" ng-show="isCustom()">

        <!-- Default foreground and background colors -->
        <tbody class="default-colors">
            <tr>
                <th>{{ getFieldHeader(field.name + '-foreground') | translate }}</th>
                <td>
                    <div class="palette-group">
                        <guac-input-color model="customColorScheme.foreground" palette="defaultPalette"></guac-input-color>
                    </div>
                </td>
            </tr>
            <tr>
                <th>{{ getFieldHeader(field.name + '-background') | translate }}</th>
                <td>
                    <div class="palette-group">
                        <guac-input-color model="customColorScheme.background" palette="defaultPalette"></guac-input-color>
                    </div>
                </td>
            </tr>
        </tbody>

        <!-- 16-color palette -->
        <tbody class="palette">
            <tr>
                <th rowspan="2">{{ getFieldHeader(field.name + '-palette') | translate }}</th>
                <td class="low-intensity-colors">
                    <div class="palette-group">
                        <div class="palette-group">
                            <div class="palette-group">
                                <guac-input-color model="customColorScheme.colors[0]" palette="defaultPalette"></guac-input-color>
                                <guac-input-color model="customColorScheme.colors[1]" palette="defaultPalette"></guac-input-color>
                            </div>
                            <div class="palette-group">
                                <guac-input-color model="customColorScheme.colors[2]" palette="defaultPalette"></guac-input-color>
                                <guac-input-color model="customColorScheme.colors[3]" palette="defaultPalette"></guac-input-color>
                            </div>
                        </div>
                        <div class="palette-group">
                            <div class="palette-group">
                                <guac-input-color model="customColorScheme.colors[4]" palette="defaultPalette"></guac-input-color>
                                <guac-input-color model="customColorScheme.colors[5]" palette="defaultPalette"></guac-input-color>
                            </div>
                            <div class="palette-group">
                                <guac-input-color model="customColorScheme.colors[6]" palette="defaultPalette"></guac-input-color>
                                <guac-input-color model="customColorScheme.colors[7]" palette="defaultPalette"></guac-input-color>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="high-intensity-colors">
                    <div class="palette-group">
                        <div class="palette-group">
                            <div class="palette-group">
                                <guac-input-color model="customColorScheme.colors[8]" palette="defaultPalette"></guac-input-color>
                                <guac-input-color model="customColorScheme.colors[9]" palette="defaultPalette"></guac-input-color>
                            </div>
                            <div class="palette-group">
                                <guac-input-color model="customColorScheme.colors[10]" palette="defaultPalette"></guac-input-color>
                                <guac-input-color model="customColorScheme.colors[11]" palette="defaultPalette"></guac-input-color>
                            </div>
                        </div>
                        <div class="palette-group">
                            <div class="palette-group">
                                <guac-input-color model="customColorScheme.colors[12]" palette="defaultPalette"></guac-input-color>
                                <guac-input-color model="customColorScheme.colors[13]" palette="defaultPalette"></guac-input-color>
                            </div>
                            <div class="palette-group">
                                <guac-input-color model="customColorScheme.colors[14]" palette="defaultPalette"></guac-input-color>
                                <guac-input-color model="customColorScheme.colors[15]" palette="defaultPalette"></guac-input-color>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>

    </table>
</div>