<!--
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied.  See the License for the
  specific language governing permissions and limitations
  under the License.
  -->
<ng-template #loading>
    <div class="manage-connection-group view loading"></div>
</ng-template>

<div class="manage-connection-group view" *ngIf="isLoaded(); else loading">

    <!-- Main property editor -->
    <div class="header">
        <h2>{{'MANAGE_CONNECTION_GROUP.SECTION_HEADER_EDIT_CONNECTION_GROUP' | transloco}}</h2>
        <guac-user-menu></guac-user-menu>
    </div>
    <div class="section">
        <table class="properties">

            <!-- Edit connection group name -->
            <tr>
                <th>{{'MANAGE_CONNECTION_GROUP.FIELD_HEADER_NAME' | transloco}}</th>

                <td><input type="text" [(ngModel)]="connectionGroup.name" autocorrect="off" autocapitalize="off"></td>
            </tr>

            <!-- Edit connection group location -->
            <tr>
                <th>{{'MANAGE_CONNECTION_GROUP.FIELD_HEADER_LOCATION' | transloco}}</th>

                <td>
                    <guac-location-chooser
                        [dataSource]="selectedDataSource" [rootGroup]="rootGroup"
                        [value]="connectionGroup.parentIdentifier"></guac-location-chooser>
                </td>
            </tr>


            <!-- Edit connection group type -->
            <tr>
                <th>{{'MANAGE_CONNECTION_GROUP.FIELD_HEADER_TYPE' | transloco}}</th>
                <td>
                    <select [(ngModel)]="connectionGroup.type">
                        <option *ngFor="let type of types" [value]="type.value">{{type.label | transloco}}</option>
                    </select>
                </td>
            </tr>
        </table>
    </div>

    <!-- Connection group attributes section -->
    <div class="attributes">
        <guac-form namespace="CONNECTION_GROUP_ATTRIBUTES" [content]="attributes"
                   [modelFormGroup]="connectionGroupAttributesFormGroup"
                   [modelOnly]="!managementPermissions.canChangeAllAttributes"></guac-form>
    </div>

    <!-- Form action buttons -->
    <management-buttons namespace="MANAGE_CONNECTION_GROUP"
                        [permissions]="managementPermissions"
                        [save]="saveConnectionGroup.bind(this)"
                        [delete]="deleteConnectionGroup.bind(this)"
                        [clone]="cloneConnectionGroup.bind(this)"
                        [return]="returnToConnectionList.bind(this)">
    </management-buttons>

</div>
