<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one
  ~ or more contributor license agreements.  See the NOTICE file
  ~ distributed with this work for additional information
  ~ regarding copyright ownership.  The ASF licenses this file
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License.  You may obtain a copy of the License at
  ~
  ~   http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->

<div class="errors">

    <!-- Connection / Error filter -->
    <guac-filter [placeholder]="'IMPORT.FIELD_PLACEHOLDER_FILTER' | transloco"></guac-filter>

    <!-- List of connection import errors -->
    <table class="sorted">
        <thead>
        <tr>
            <th [guacSortOrder]="errorOrder" sortProperty="rowNumber">
                {{ 'IMPORT.TABLE_HEADER_ROW_NUMBER' | transloco }}
            </th>
            <th [guacSortOrder]="errorOrder" sortProperty="name">
                {{ 'IMPORT.TABLE_HEADER_NAME' | transloco }}
            </th>
            <th [guacSortOrder]="errorOrder" sortProperty="group">
                {{ 'IMPORT.TABLE_HEADER_GROUP' | transloco }}
            </th>
            <th [guacSortOrder]="errorOrder" sortProperty="protocol">
                {{ 'IMPORT.TABLE_HEADER_PROTOCOL' | transloco }}
            </th>
            <th [guacSortOrder]="errorOrder" sortProperty="errors">
                {{ 'IMPORT.TABLE_HEADER_ERRORS' | transloco }}
            </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let error of connectionErrorsDataSource?.data | async">
            <td>{{ error.rowNumber }}</td>
            <td>{{ error.name }}</td>
            <td>{{ error.group }}</td>
            <td>{{ error.protocol }}</td>
            <td class="error-message" [ngClass]="{ 'has-errors' : error.errors.getArray().length }">
                <ul>
                    <li *ngFor="let message of error.errors.getArray()">
                        {{ message }}
                    </li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>

    <!-- Pager for connection error list -->
    <guac-pager [pageSize]="25"
                [length]="connectionErrorsDataSource?.totalLength | async"></guac-pager>
</div>
