<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!--
   Copyright (C) 2015 Glyptodon LLC

   Permission is hereby granted, free of charge, to any person obtaining a copy
   of this software and associated documentation files (the "Software"), to deal
   in the Software without restriction, including without limitation the rights
   to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
   copies of the Software, and to permit persons to whom the Software is
   furnished to do so, subject to the following conditions:

   The above copyright notice and this permission notice shall be included in
   all copies or substantial portions of the Software.

   THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
   IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
   FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
   AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
   LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
   OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
   THE SOFTWARE.
-->

<mapper namespace="net.sourceforge.guacamole.net.auth.mysql.dao.SystemPermissionMapper" >

    <!-- Result mapper for system permissions -->
    <resultMap id="SystemPermissionResultMap" type="net.sourceforge.guacamole.net.auth.mysql.model.SystemPermissionModel">
        <result column="user_id"    property="userID"   jdbcType="INTEGER"/>
        <result column="username"   property="username" jdbcType="VARCHAR"/>
        <result column="permission" property="type"     jdbcType="VARCHAR"
                javaType="org.glyptodon.guacamole.net.auth.permission.SystemPermission$Type"/>
    </resultMap>

    <!-- Select all permissions for a given user -->
    <select id="select" resultMap="SystemPermissionResultMap">

        SELECT
            guacamole_system_permission.user_id,
            username,
            permission
        FROM guacamole_system_permission
        JOIN guacamole_user ON guacamole_system_permission.user_id = guacamole_user.user_id
        WHERE guacamole_system_permission.user_id = #{user.userID,jdbcType=INTEGER}

    </select>

    <!-- Select the single permission matching the given criteria -->
    <select id="selectOne" resultMap="SystemPermissionResultMap">

        SELECT
            guacamole_system_permission.user_id,
            username,
            permission
        FROM guacamole_system_permission
        JOIN guacamole_user ON guacamole_system_permission.user_id = guacamole_user.user_id
        WHERE
            guacamole_system_permission.user_id = #{user.userID,jdbcType=INTEGER}
            AND permission = #{type,jdbcType=VARCHAR}

    </select>

    <!-- Delete all given permissions -->
    <delete id="delete" parameterType="net.sourceforge.guacamole.net.auth.mysql.model.SystemPermissionModel">

        DELETE FROM guacamole_system_permission
        WHERE (user_id, permission) IN
            <foreach collection="permissions" item="permission"
                     open="(" separator="," close=")">
                (#{permission.userID,jdbcType=INTEGER},
                 #{permission.type,jdbcType=VARCHAR})
            </foreach>

    </delete>

    <!-- Insert all given permissions -->
    <insert id="insert" parameterType="net.sourceforge.guacamole.net.auth.mysql.model.SystemPermissionModel">

        INSERT IGNORE INTO guacamole_system_permission (
            user_id,
            permission
        )
        VALUES
            <foreach collection="permissions" item="permission" separator=",">
                (#{permission.userID,jdbcType=INTEGER},
                 #{permission.type,jdbcType=VARCHAR})
            </foreach>

    </insert>

</mapper>