<div class="text-input">

  <!-- Text input target -->
  <div class="text-input-field">
    <div class="sent-history">
      <div class="sent-text" ng-repeat="text in sentText track by $index">{{text}}</div>
    </div>
    <textarea autocapitalize="off" autocorrect="off" autofocus class="target" rows="1"></textarea>
  </div>
  <div class="text-input-buttons">
    <guac-key keysym="65507" pressed="ctrlPressed" sticky="true"
              text="'CLIENT.NAME_KEY_CTRL'"></guac-key>
    <guac-key keysym="65513" pressed="altPressed" sticky="true"
              text="'CLIENT.NAME_KEY_ALT'"></guac-key>
    <guac-key keysym="65307" text="'CLIENT.NAME_KEY_ESC'"></guac-key>
    <guac-key keysym="65289" text="'CLIENT.NAME_KEY_TAB'"></guac-key>
  </div>

</div>
