<?xml version="1.0" encoding="UTF-8"?>
<!--
    Guacamole - Clientless Remote Desktop
    Copyright (C) 2010  Michael Jumper

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <!-- Basic config -->
    <welcome-file-list>
        <welcome-file>index.xhtml</welcome-file>
    </welcome-file-list>
    <session-config>
        <session-timeout>
			30
        </session-timeout>
    </session-config>

    <!-- Automatically detect and load WebSocket support -->
    <listener>
        <listener-class>net.sourceforge.guacamole.net.basic.WebSocketSupportLoader</listener-class>
    </listener>
    
    <!-- Basic Login Servlet -->
    <servlet>
        <description>Login servlet.</description>
        <servlet-name>Login</servlet-name>
        <servlet-class>net.sourceforge.guacamole.net.basic.BasicLogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <!-- Basic Logout Servlet -->
    <servlet>
        <description>Logout servlet.</description>
        <servlet-name>Logout</servlet-name>
        <servlet-class>net.sourceforge.guacamole.net.basic.BasicLogout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>

    <!-- Configuration List Servlet -->
    <servlet>
        <description>Configuration list servlet.</description>
        <servlet-name>Configs</servlet-name>
        <servlet-class>net.sourceforge.guacamole.net.basic.ConfigurationList</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Configs</servlet-name>
        <url-pattern>/configs</url-pattern>
    </servlet-mapping>

    <!-- User List Servlet -->
    <servlet>
        <description>User list servlet.</description>
        <servlet-name>Users</servlet-name>
        <servlet-class>net.sourceforge.guacamole.net.basic.UserList</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Users</servlet-name>
        <url-pattern>/users</url-pattern>
    </servlet-mapping>

    <!-- Permission List Servlet -->
    <servlet>
        <description>Permission list servlet.</description>
        <servlet-name>Permissions</servlet-name>
        <servlet-class>net.sourceforge.guacamole.net.basic.PermissionList</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Permissions</servlet-name>
        <url-pattern>/permissions</url-pattern>
    </servlet-mapping>

    <!-- Guacamole Tunnel Servlet -->
    <servlet>
        <description>Tunnel servlet.</description>
        <servlet-name>Tunnel</servlet-name>
        <servlet-class>net.sourceforge.guacamole.net.basic.BasicGuacamoleTunnelServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Tunnel</servlet-name>
        <url-pattern>/tunnel</url-pattern>
    </servlet-mapping>

    <mime-mapping>
        <extension>mp3</extension>
        <mime-type>audio/mpeg</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>ogg</extension>
        <mime-type>audio/ogg</mime-type>
    </mime-mapping>

</web-app>
