<!--
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied.  See the License for the
  specific language governing permissions and limitations
  under the License.
  -->
<ng-template #loading>
    <div class="manage-user-group view loading"></div>
</ng-template>

<div class="manage-user-group view" *ngIf="isLoaded(); else loading">

    <!-- User group header and data source tabs -->
    <div class="header tabbed">
        <h2>{{ 'MANAGE_USER_GROUP.SECTION_HEADER_EDIT_USER_GROUP' | transloco }}</h2>
        <guac-user-menu></guac-user-menu>
    </div>

    <!-- Sections applicable to non-read-only user groups -->
    <div [hidden]="!managementPermissions[dataSource].canSaveObject">

        <!-- User group name -->
        <div class="section">
            <table class="properties">
                <tr>
                    <th>{{ 'MANAGE_USER_GROUP.FIELD_HEADER_USER_GROUP_NAME' | transloco }}</th>
                    <td>
                        <input [hidden]="!canEditIdentifier()" [(ngModel)]="userGroup.identifier" type="text">
                        <span [hidden]="canEditIdentifier()">{{ userGroup.identifier }}</span>
                    </td>
                </tr>
            </table>
        </div>

        <!-- User group attributes section -->
        <div class="attributes" [hidden]="!managementPermissions[dataSource].canChangeAttributes">
            <guac-form namespace="USER_GROUP_ATTRIBUTES" [content]="attributes"
                       model="userGroup.attributes"
                       [modelOnly]="!managementPermissions[dataSource].canChangeAllAttributes"></guac-form>
        </div>

        <!-- System permissions section -->
        <system-permission-editor [hidden]="!managementPermissions[dataSource].canChangePermissions"
                                  [dataSource]="dataSource"
                                  [permissionFlags]="permissionFlags"
                                  [permissionsAdded]="permissionsAdded"
                                  [permissionsRemoved]="permissionsRemoved">
        </system-permission-editor>

        <!-- Parent group section -->
        <identifier-set-editor
            header="MANAGE_USER_GROUP.SECTION_HEADER_USER_GROUPS"
            emptyPlaceholder="MANAGE_USER_GROUP.HELP_NO_USER_GROUPS"
            unavailablePlaceholder="MANAGE_USER_GROUP.INFO_NO_USER_GROUPS_AVAILABLE"
            [identifiersAvailable]="availableGroups"
            [identifiers]="parentGroups"
            [identifiersAdded]="parentGroupsAdded"
            [identifiersRemoved]="parentGroupsRemoved">
        </identifier-set-editor>

        <!-- Member group section -->
        <identifier-set-editor
            header="MANAGE_USER_GROUP.SECTION_HEADER_MEMBER_USER_GROUPS"
            emptyPlaceholder="MANAGE_USER_GROUP.HELP_NO_MEMBER_USER_GROUPS"
            unavailablePlaceholder="MANAGE_USER_GROUP.INFO_NO_USER_GROUPS_AVAILABLE"
            [identifiersAvailable]="availableGroups"
            [identifiers]="memberGroups"
            [identifiersAdded]="memberGroupsAdded"
            [identifiersRemoved]="memberGroupsRemoved">
        </identifier-set-editor>

        <!-- Member user section -->
        <identifier-set-editor
            header="MANAGE_USER_GROUP.SECTION_HEADER_MEMBER_USERS"
            emptyPlaceholder="MANAGE_USER_GROUP.HELP_NO_MEMBER_USERS"
            unavailablePlaceholder="MANAGE_USER_GROUP.INFO_NO_USERS_AVAILABLE"
            [identifiersAvailable]="availableUsers"
            [identifiers]="memberUsers"
            [identifiersAdded]="memberUsersAdded"
            [identifiersRemoved]="memberUsersRemoved">
        </identifier-set-editor>

        <!-- Connection permissions section -->
        <connection-permission-editor [hidden]="!managementPermissions[dataSource].canChangePermissions"
                                      [dataSource]="dataSource"
                                      [permissionFlags]="permissionFlags"
                                      [permissionsAdded]="permissionsAdded"
                                      [permissionsRemoved]="permissionsRemoved">
        </connection-permission-editor>

        <!-- Form action buttons -->
        <management-buttons namespace="MANAGE_USER_GROUP"
                            [permissions]="managementPermissions[dataSource]"
                            [save]="saveUserGroup.bind(this)"
                            [delete]="deleteUserGroup.bind(this)"
                            [clone]="cloneUserGroup.bind(this)"
                            [return]="returnToUserGroupList.bind(this)">
        </management-buttons>

    </div>

</div>
