<meta content=".all-connections" name="before">
<div class="quickconnect-list-item list-item" ng-controller="quickconnectController">
  <div class="quickconnect-container">
    <form ng-submit="quickConnect()">
      <input class="quickconnect-field" ng-model="uri"
             placeholder="{{'QUICKCONNECT.FIELD_PLACEHOLDER_URI' |translate}}" type=text>
    </form>
  </div>
  <div class="action-buttons">
    <button class="quickconnect-button" ng-click="quickConnect()">{{'QUICKCONNECT.ACTION_CONNECT' |
      translate}}
    </button>
  </div>
</div>
