<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!--
   Copyright (C) 2015 Glyptodon LLC

   Permission is hereby granted, free of charge, to any person obtaining a copy
   of this software and associated documentation files (the "Software"), to deal
   in the Software without restriction, including without limitation the rights
   to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
   copies of the Software, and to permit persons to whom the Software is
   furnished to do so, subject to the following conditions:

   The above copyright notice and this permission notice shall be included in
   all copies or substantial portions of the Software.

   THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
   IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
   FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
   AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
   LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
   OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
   THE SOFTWARE.
-->

<mapper namespace="org.apache.guacamole.auth.jdbc.connection.ConnectionRecordMapper" >

    <!-- Result mapper for system permissions -->
    <resultMap id="ConnectionRecordResultMap" type="org.apache.guacamole.auth.jdbc.connection.ConnectionRecordModel">
        <result column="connection_id"   property="connectionIdentifier" jdbcType="INTEGER"/>
        <result column="connection_name" property="connectionName"       jdbcType="VARCHAR"/>
        <result column="user_id"         property="userID"               jdbcType="INTEGER"/>
        <result column="username"        property="username"             jdbcType="VARCHAR"/>
        <result column="start_date"      property="startDate"            jdbcType="TIMESTAMP"/>
        <result column="end_date"        property="endDate"              jdbcType="TIMESTAMP"/>
    </resultMap>

    <!-- Select all connection records from a given connection -->
    <select id="select" resultMap="ConnectionRecordResultMap">

        SELECT
            guacamole_connection.connection_id,
            guacamole_connection.connection_name,
            guacamole_user.user_id,
            guacamole_user.username,
            guacamole_connection_history.start_date,
            guacamole_connection_history.end_date
        FROM guacamole_connection_history
        JOIN guacamole_connection ON guacamole_connection_history.connection_id = guacamole_connection.connection_id
        JOIN guacamole_user ON guacamole_connection_history.user_id = guacamole_user.user_id
        WHERE
            guacamole_connection.connection_id = #{identifier,jdbcType=VARCHAR}
        ORDER BY
            guacamole_connection_history.start_date DESC,
            guacamole_connection_history.end_date DESC

    </select>

    <!-- Insert the given connection record -->
    <insert id="insert" parameterType="org.apache.guacamole.auth.jdbc.connection.ConnectionRecordModel">

        INSERT INTO guacamole_connection_history (
            connection_id,
            user_id,
            start_date,
            end_date
        )
        VALUES (
            #{record.connectionIdentifier,jdbcType=VARCHAR},
            #{record.userID,jdbcType=INTEGER},
            #{record.startDate,jdbcType=TIMESTAMP},
            #{record.endDate,jdbcType=TIMESTAMP}
        )

    </insert>

    <!-- Search for specific connection records -->
    <select id="search" resultMap="ConnectionRecordResultMap">

        SELECT
            guacamole_connection_history.connection_id,
            guacamole_connection.connection_name,
            guacamole_connection_history.user_id,
            guacamole_user.username,
            guacamole_connection_history.start_date,
            guacamole_connection_history.end_date
        FROM guacamole_connection_history
        LEFT JOIN guacamole_connection ON guacamole_connection_history.connection_id = guacamole_connection.connection_id
        LEFT JOIN guacamole_user       ON guacamole_connection_history.user_id       = guacamole_user.user_id

        <!-- Search terms -->
        <foreach collection="terms" item="term"
                 open="WHERE " separator=" AND ">
            (

                guacamole_connection_history.user_id IN (
                    SELECT user_id
                    FROM guacamole_user
                    WHERE POSITION(#{term.term,jdbcType=VARCHAR} IN username) > 0
                )

                OR guacamole_connection_history.connection_id IN (
                    SELECT connection_id
                    FROM guacamole_connection
                    WHERE POSITION(#{term.term,jdbcType=VARCHAR} IN connection_name) > 0
                )

                <if test="term.startDate != null and term.endDate != null">
                    OR start_date BETWEEN #{term.startDate,jdbcType=TIMESTAMP} AND #{term.endDate,jdbcType=TIMESTAMP}
                </if>

            )
        </foreach>

        <!-- Bind sort property enum values for sake of readability -->
        <bind name="START_DATE"      value="@org.apache.guacamole.net.auth.ConnectionRecordSet$SortableProperty@START_DATE"/>

        <!-- Sort predicates -->
        <foreach collection="sortPredicates" item="sortPredicate"
                 open="ORDER BY " separator=", ">
            <choose>
                <when test="sortPredicate.property == START_DATE">guacamole_connection_history.start_date</when>
                <otherwise>1</otherwise>
            </choose>
            <if test="sortPredicate.descending">DESC</if>
        </foreach>

        LIMIT #{limit,jdbcType=INTEGER}

    </select>

    <!-- Search for specific connection records -->
    <select id="searchReadable" resultMap="ConnectionRecordResultMap">

        SELECT
            guacamole_connection_history.connection_id,
            guacamole_connection.connection_name,
            guacamole_connection_history.user_id,
            guacamole_user.username,
            guacamole_connection_history.start_date,
            guacamole_connection_history.end_date
        FROM guacamole_connection_history
        LEFT JOIN guacamole_connection ON guacamole_connection_history.connection_id = guacamole_connection.connection_id
        LEFT JOIN guacamole_user       ON guacamole_connection_history.user_id       = guacamole_user.user_id

        <!-- Restrict to readable connections -->
        JOIN guacamole_connection_permission ON
                guacamole_connection_history.connection_id = guacamole_connection_permission.connection_id
            AND guacamole_connection_permission.user_id    = #{user.objectID,jdbcType=INTEGER}
            AND guacamole_connection_permission.permission = 'READ'

        <!-- Restrict to readable users -->
        JOIN guacamole_user_permission ON
                guacamole_connection_history.user_id = guacamole_user_permission.affected_user_id
            AND guacamole_user_permission.user_id    = #{user.objectID,jdbcType=INTEGER}
            AND guacamole_user_permission.permission = 'READ'

        <!-- Search terms -->
        <foreach collection="terms" item="term"
                 open="WHERE " separator=" AND ">
            (

                guacamole_connection_history.user_id IN (
                    SELECT user_id
                    FROM guacamole_user
                    WHERE POSITION(#{term.term,jdbcType=VARCHAR} IN username) > 0
                )

                OR guacamole_connection_history.connection_id IN (
                    SELECT connection_id
                    FROM guacamole_connection
                    WHERE POSITION(#{term.term,jdbcType=VARCHAR} IN connection_name) > 0
                )

                <if test="term.startDate != null and term.endDate != null">
                    OR start_date BETWEEN #{term.startDate,jdbcType=TIMESTAMP} AND #{term.endDate,jdbcType=TIMESTAMP}
                </if>

            )
        </foreach>

        <!-- Bind sort property enum values for sake of readability -->
        <bind name="START_DATE"      value="@org.apache.guacamole.net.auth.ConnectionRecordSet$SortableProperty@START_DATE"/>

        <!-- Sort predicates -->
        <foreach collection="sortPredicates" item="sortPredicate"
                 open="ORDER BY " separator=", ">
            <choose>
                <when test="sortPredicate.property == START_DATE">guacamole_connection_history.start_date</when>
                <otherwise>1</otherwise>
            </choose>
            <if test="sortPredicate.descending">DESC</if>
        </foreach>
        
        LIMIT #{limit,jdbcType=INTEGER}

    </select>

</mapper>