<div class="transfer-manager">

    <!-- File transfer manager header -->
    <div class="header">
        <h2>{{'CLIENT.SECTION_HEADER_FILE_TRANSFERS' | translate}}</h2>
        <button ng-click="clearCompletedTransfers()">{{'CLIENT.ACTION_CLEAR_COMPLETED_TRANSFERS' | translate}}</button>
    </div>

    <!-- Sent/received files -->
    <div class="transfer-manager-body">
        <div class="transfers">
            <guac-file-transfer
                transfer="upload"
                ng-repeat="upload in client.uploads">
            </guac-file-transfer><guac-file-transfer
                transfer="download"
                ng-repeat="download in client.downloads">
            </guac-file-transfer>
        </div>
    </div>

</div>
