<div class="client-zoom">
  <div class="client-zoom-editor">
    <div class="client-zoom-out" ng-click="zoomOut()"><img alt="-"
                                                           src="images/settings/zoom-out.svg"></div>
    <div class="client-zoom-state">
      <input guac-zoom-ctrl ng-change="zoomSet()"
             ng-model="client.clientProperties.scale"
             ng-model-options="{ updateOn: 'blur submit' }"
             type="number">%
    </div>
    <div class="client-zoom-in" ng-click="zoomIn()"><img alt="+" src="images/settings/zoom-in.svg">
    </div>
  </div>
  <div class="client-zoom-autofit">
    <label><input id="auto-fit"
                  ng-change="changeAutoFit()"
                  ng-disabled="autoFitDisabled()" ng-model="client.clientProperties.autoFit"
                  type="checkbox">
      {{'CLIENT.TEXT_ZOOM_AUTO_FIT' | translate}}</label>
  </div>
</div>
