<ul class="tiled-client-list" ng-class="{  'multiple-clients' : hasMultipleClients() }">

    <li class="client-tile"
        ng-repeat="client in clientGroup.clients"
        ng-style="{ 'width' : getTileWidth(), 'height' : getTileHeight() }"
        ng-class="{ 'focused' : client.clientProperties.focused }"
        guac-click="getFocusAssignmentCallback(client)">

        <h3>{{ client.title }}</h3>
        <guac-client client="client" emulate-absolute-mouse="emulateAbsoluteMouse"></guac-client>

        <!-- Client-specific status/error dialog -->
        <guac-client-notification client="client"></guac-client-notification>

    </li>

</ul>