
<guac-viewport>

    <!-- Client view -->
    <div class="client-view">
        <div class="client-view-content">

            <!-- Central portion of view -->
            <div class="client-body">

                <button id="consent-fullscreen-button" 
                        ng-if="showFullscreenConsent" 
                        ng-click="enableFullscreenMode()">
                    {{'CLIENT.ACTION_FULLSCREEN_CONSENT' | translate}}
                </button>

                <guac-client-secondary client="client"></guac-client-secondary>
           
            </div>

        </div>
    </div>

</guac-viewport>
