<?xml version="1.0" encoding="UTF-8"?>
<!--
    Guacamole - Clientless Remote Desktop
    Copyright (C) 2010  Michael Jumper

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <!-- Basic config -->

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

    <session-config>
        <session-timeout>
			30
        </session-timeout>
    </session-config>

    <!-- Servlets -->

    <servlet>
        <description>Outbound servlet.</description>
        <servlet-name>Outbound</servlet-name>
        <servlet-class>net.sourceforge.guacamole.net.tunnel.Outbound</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Outbound</servlet-name>
        <url-pattern>/outbound</url-pattern>
    </servlet-mapping>

    <servlet>
        <description>Input servlet.</description>
        <servlet-name>Inbound</servlet-name>
        <servlet-class>net.sourceforge.guacamole.net.tunnel.Inbound</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Inbound</servlet-name>
        <url-pattern>/inbound</url-pattern>
    </servlet-mapping>

</web-app>
