<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one
  ~ or more contributor license agreements.  See the NOTICE file
  ~ distributed with this work for additional information
  ~ regarding copyright ownership.  The ASF licenses this file
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License.  You may obtain a copy of the License at
  ~
  ~   http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->

<div class="transfer-manager">

    <!-- File transfer manager header -->
    <div class="header">
        <h2>{{ 'CLIENT.SECTION_HEADER_FILE_TRANSFERS' | transloco }}</h2>
        <button (click)="clearCompletedTransfers()">{{ 'CLIENT.ACTION_CLEAR_COMPLETED_TRANSFERS' | transloco }}</button>
    </div>

    <!-- Sent/received files -->
    <div class="transfer-manager-body">
        <div class="transfer-manager-body-section" *ngFor="let client of clientGroup?.clients"
             [hidden]="!hasTransfers(client)">
            <h3 [hidden]="!hasMultipleClients(clientGroup)">{{ client.name }}</h3>
            <div class="transfers">
                <guac-file-transfer
                    [transfer]="upload"
                    *ngFor="let upload of client.uploads">
                </guac-file-transfer>
            </div>
        </div>
    </div>

</div>
