<a class="home-connection"
   ng-href="{{ item.getClientURL() }}"
   ng-class="{active: item.getActiveConnections()}">

    <div class="icon type" ng-class="[item.protocol,
        {'vm-running': reachabilityService.reachable[item.identifier] === true,
         'vm-stopped': reachabilityService.reachable[item.identifier] === false}]"></div>

    <!-- Connection name -->
    <span class="name">{{item.name}}</span>

    <!-- Active user count -->
    <span class="activeUserCount" ng-show="item.getActiveConnections()"
        translate="HOME.INFO_ACTIVE_USER_COUNT"
        translate-values="{USERS: item.getActiveConnections()}"></span>

</a>
