<!--
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied.  See the License for the
  specific language governing permissions and limitations
  under the License.
  -->
<div class="settings section user-groups" [ngClass]="{ 'loading' : !isLoaded() }">
    <!-- User group management -->
    <p>{{ 'SETTINGS_USER_GROUPS.HELP_USER_GROUPS' | transloco }}</p>

    <!-- User management toolbar -->
    <div class="toolbar">

        <!-- Form action buttons -->
        <div class="action-buttons">
            <a class="add-user-group button" [hidden]="!canCreateUserGroups()"
               routerLink="/manage/{{getDefaultDataSource() || '' | escape}}/userGroups/">{{ 'SETTINGS_USER_GROUPS.ACTION_NEW_USER_GROUP' | transloco }}</a>
        </div>

        <!-- User group filter -->
        <guac-filter [placeholder]="'SETTINGS_USER_GROUPS.FIELD_PLACEHOLDER_FILTER' | transloco"></guac-filter>

    </div>

    <!-- List of user groups this user has access to -->
    <table class="sorted user-group-list" *ngIf="isLoaded()">
        <thead>
        <tr>
            <th [guacSortOrder]="order | async" (sortOrderChange)="order.next($event)"
                sortProperty="userGroup.identifier" class="user-group-name">
                {{ 'SETTINGS_USER_GROUPS.TABLE_HEADER_USER_GROUP_NAME' | transloco }}
            </th>
        </tr>
        </thead>
        <tbody [ngClass]="{'loading': !isLoaded()}">
        <tr *ngFor="let manageableUserGroup of dataSourceView?.data | async" class="user-group">
            <td class="user-group-name">
                <a routerLink="/manage/{{manageableUserGroup.dataSource | escape}}/userGroups/{{manageableUserGroup.userGroup.identifier! | escape}}">
                    <div class="icon user-group"></div>
                    <span class="name">{{ manageableUserGroup.userGroup.identifier }}</span>
                </a>
            </td>
        </tr>
        </tbody>
    </table>

    <!-- Pager controls for user group list -->
    <guac-pager [pageSize]="25" [length]="dataSourceView?.totalLength | async"></guac-pager>

</div>
