<!--
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied.  See the License for the
  specific language governing permissions and limitations
  under the License.
  -->
<div class="tiled-client-grid">
    <div class="tiled-client-row" *ngFor="let clientRow of getClientGrid(clientGroup)">
        <div class="tiled-client-cell" *ngFor="let client of clientRow">

            <div class="client-tile" *ngIf="client"
                 [ngClass]="{
                    'focused' : client.clientProperties.focused,
                    'shared'  : isShared(client),
                    'joined'  : client.userCount
                }"
                 [guacClick]="getFocusAssignmentCallback(client)">
                <h3 class="client-tile-header" *ngIf="hasMultipleClients(clientGroup)">
                    <img class="client-tile-shared-indicator" src="images/share-white.svg">
                    <span class="client-tile-name">{{ client.title }}</span>
                    <guac-client-user-count [client]="client"></guac-client-user-count>
                    <img (click)="onClose(client)"
                         class="client-tile-disconnect"
                         [alt]="'CLIENT.ACTION_DISCONNECT' | transloco"
                         [title]="'CLIENT.ACTION_DISCONNECT' | transloco"
                         src="images/x.svg">
                </h3>
<!--                TODO: added class="client-tile" as a workaround so that the client actually has a height > 0 and so -->
<!--                the client.connect() is called-->
                <guac-client [client]="client" [emulateAbsoluteMouse]="emulateAbsoluteMouse" class="client-tile"></guac-client>

                <!-- Client-specific status/error dialog -->
                <guac-client-notification [client]="client"></guac-client-notification>

                <guac-client-user-count [client]="client" *ngIf="!hasMultipleClients(clientGroup)"></guac-client-user-count>

            </div>

        </div>
    </div>
</div>
