<!--
Copyright 2014 Glyptodon LLC.

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in
all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
THE SOFTWARE.
-->

<!-- Hierarchical connection and connection group permission selector -->
<script type="text/ng-template" id="nestedUserPermissionEditGroup.html">
    
    <!-- Connection -->
    <div class="choice" ng-show="item.isConnection">
      <input type="checkbox" ng-model="connectionPermissions[item.identifier]" ng-change="markConnectionPermissionModified(item.identifier)"/>
      <div class="connection list-item">
        <div class="caption">
          <div class="protocol">
            <div class="icon" ng-class="item.protocol"></div>
          </div><span class="name">{{item.name}}</span>
        </div>
      </div>
    </div>
    
    <!-- Connection group -->
    <div class="choice" ng-show="!item.isConnection">
      <input type="checkbox" ng-model="connectionGroupPermissions[item.identifier]" ng-change="markConnectionGroupPermissionModified(item.identifier)"/>

      <div class="group empty list-item balancer">
        <div class="caption">
          <div class="icon group" ng-click="toggleExpanded(item)" ng-class="{expanded: item.expanded, empty: !item.children.length, balancer: item.balancer && !item.children.length}"></div>

          <span class="name">{{item.name}}</span>
        </div>

        <!-- Connection group children -->
        <div class="children" ng-show="item.expanded">
            <div ng-repeat="item in item.children | orderBy : 'name'" ng-include="'nestedUserPermissionEditGroup.html'">
        </div>
      </div>
    </div>

</script>

<!-- User edit modal -->
<div class="dialog-container">
  <div class="dialog edit">
    <div class="header">
      <h2>{{user.username}}</h2>
    </div>
      
    <div class="body">
        <div class="form">
          <div class="settings section">
            <dl>
              
              <!-- User properties section -->
              <dt>{{'manage.edit.user.properties' | translate}}</dt>

              <dd>
                <table class="fields section">
                  <tr>
                    <th>{{'manage.edit.user.password' | translate}}</th>

                    <td><input ng-model="user.password" type="password" /></td>
                  </tr>

                  <tr>
                    <th>{{'manage.edit.user.passwordMatch' | translate}}</th>

                    <td><input ng-model="passwordMatch" type="password" /></td>
                  </tr>
                </table>
              </dd>

              <!-- System permissions section -->
              <dt>{{'manage.edit.user.permissions' | translate}}</dt>

              <dd>
                <table class="permissions section">
                  <tr>
                    <th>{{'manage.edit.user.administerSystem' | translate}}</th>

                    <td><input type="checkbox" ng-model="systemPermissions.ADMINISTER" ng-change="markSystemPermissionModified('ADMINISTER')" /></td>
                  </tr>

                  <tr>
                    <th>{{'manage.edit.user.createUser' | translate}}</th>

                    <td><input type="checkbox" ng-model="systemPermissions.CREATE_USER" ng-change="markSystemPermissionModified('CREATE_USER')" /></td>
                  </tr>

                  <tr>
                    <th>{{'manage.edit.user.createConnection' | translate}}</th>

                    <td><input type="checkbox" ng-model="systemPermissions.CREATE_CONNECTION" ng-change="markSystemPermissionModified('CREATE_CONNECTION')" /></td>
                  </tr>

                  <tr>
                    <th>{{'manage.edit.user.createConnectionGroup' | translate}}</th>

                    <td><input type="checkbox" ng-model="systemPermissions.CREATE_CONNECTION_GROUP" ng-change="markSystemPermissionModified('CREATE_CONNECTION_GROUP')" /></td>
                  </tr>
                </table>
              </dd>

              <!-- Connection and connection group permission section -->
              <dt>{{'manage.edit.user.connections' | translate}}</dt>
              <dd>
                <div class="group-view">
                  <div class="list">
                    <div ng-repeat="item in rootGroup.children | orderBy : 'name'" ng-include="'nestedUserPermissionEditGroup.html'"></div>
                  </div>
                </div>
              </dd>
            </dl>
          </div>
        </div>
    </div>

    <!-- Form controls -->
    <div class="footer">
      <button ng-click="save()">{{'manage.edit.user.save' | translate}}</button>
      <button ng-click="close()">{{'manage.edit.user.cancel' | translate}}</button>
      <button ng-click="delete()" class="danger">{{'manage.edit.user.delete' | translate}}</button>
    </div>
  </div>
</div>