<!--
Copyright 2014 Glyptodon LLC.

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in
all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
THE SOFTWARE.
-->


<!-- Dialog container for the modal -->
<div class="dialog-container">
  <div class="dialog edit">
      
    <!-- Connection name -->
    <div class="header">
      <h2>{{connection.name}}</h2>
    </div>

    <!-- Main connection edit section -->
    <div class="body">
      <div class="form">
        <div class="settings section">
          <dl>
            <dd>
              <table class="fields section">
                  
                <!-- Edit connection name -->
                <tr>
                  <th>{{'manage.edit.connection.name' | translate}}</th>

                  <td><input type="text" ng-model="connection.name"/></td>
                </tr>

                <!-- Edit connection location -->
                <tr>
                  <th>{{'manage.edit.connection.location' | translate}}</th>

                  <td>
                    <location-chooser item="connection" root="rootGroup"/>
                  </td>
                </tr>

                  
                <!-- Edit connection protocol -->
                <tr>
                  <th>{{'manage.edit.connection.protocol' | translate}}</th>
                  <td>
                      <select ng-model="connection.protocol" ng-options="name as 'protocol.' + protocol.name + '.label' | translate for (name, protocol) in protocols | orderBy: name"></select>
                  </td>
                </tr>
              </table>
            </dd>

            <dd>
              <table class="fields section">
                  
                <!-- All the different possible editable field types -->
                <tr ng-repeat="parameter in protocols[connection.protocol].parameters">
                  <th>{{'protocol.' + connection.protocol + '.parameters.' + parameter.name + '.label' | translate}}:</th>

                  <td ng-show="parameter.type === 'TEXT'">
                      <input type="text" ng-model="connection.parameters[parameter.name]"/>
                  </td>
                  <td ng-show="parameter.type === 'NUMERIC'">
                      <input type="number" ng-model="connection.parameters[parameter.name]"/>
                  </td>
                  <td ng-show="parameter.type === 'PASSWORD'">
                      <input type="password" ng-model="connection.parameters[parameter.name]"/>
                  </td>
                  <td ng-show="parameter.type === 'BOOLEAN'">
                      <input type="checkbox" ng-model="connection.parameters[parameter.name]"/>
                  </td>
                  <td ng-show="parameter.type === 'ENUM'">
                      <select ng-model="connection.parameters[parameter.name]" ng-options="option.value as 'protocol.' + connection.protocol + '.parameters.' + parameter.name + '.options.' + (option.value || 'empty') | translate for option in parameter.options | orderBy: value"></select>
                  </td>
                </tr>
              </table>
            </dd>

            <!-- History connection area -->
            <dt>{{'manage.edit.connection.history.usageHistory' | translate}}</dt>

            <dd ng-hide="connection.history.length">
              <p>{{'manage.edit.connection.history.connectionNotUsed' | translate}}</p>
            </dd>
            
            <!-- History connection list -->
            <dd ng-show="connection.history.length">
                <table class="history section">
                    <tr>
                        <th>{{'manage.edit.connection.history.username' | translate}}</th>
                        <th>{{'manage.edit.connection.history.startTime' | translate}}</th>
                        <th>{{'manage.edit.connection.history.duration' | translate}}</th>
                    </tr>
                    <tbody>
                        <tr ng-repeat="record in connection.history">
                            <td class="username">{{record.username}}</td>
                            <td class="start">{{record.startDate | date:'short'}}</td>
                            <td ng-show="record.endDate" class="duration">{{record.endDate}}</td>
                            <td ng-hide="record.endDate" class="duration">{{'manage.edit.connection.history.activeNow' | translate}}</td>
                        </tr>
                    </tbody>
                </table>
            </dd>
          </dl>
        </div>
      </div>
    </div>

    <!-- Control buttons -->
    <div class="footer">
      <button ng-click="save()">{{'manage.edit.connection.save' | translate}}</button>
      <button ng-click="close()">{{'manage.edit.connection.cancel' | translate}}</button>
      <button ng-click="delete()" class="danger">{{'manage.edit.connection.delete' | translate}}</button>
    </div>
  </div>
</div>