
<div class="manage-user view" ng-class="{loading: !isLoaded()}">

    <!-- User header and data source tabs -->
    <div class="username header">
        <h2>{{'MANAGE_USER.SECTION_HEADER_EDIT_USER' | translate}}</h2>
        <guac-user-menu></guac-user-menu>
    </div>
    <div class="page-tabs">
        <guac-page-list pages="accountPages"></guac-page-list>
    </div>

    <!-- Warn if user is read-only -->
    <div class="section" ng-hide="managementPermissions.canSaveObject">
        <p class="notice read-only">{{'MANAGE_USER.INFO_READ_ONLY' | translate}}</p>
    </div>

    <!-- Sections applicable to non-read-only users -->
    <div ng-show="managementPermissions.canSaveObject">

        <!-- User password section -->
        <div class="section">
            <table class="properties">
                <tr>
                    <th>{{'MANAGE_USER.FIELD_HEADER_USERNAME' | translate}}</th>
                    <td>
                        <input ng-show="canEditUsername()" ng-model="user.username" type="text"/>
                        <span  ng-hide="canEditUsername()">{{user.username}}</span>
                    </td>
                </tr>
                <tr>
                    <th>{{'MANAGE_USER.FIELD_HEADER_PASSWORD' | translate}}</th>
                    <td><input ng-model="user.password" type="password" /></td>
                </tr>
                <tr>
                    <th>{{'MANAGE_USER.FIELD_HEADER_PASSWORD_AGAIN' | translate}}</th>
                    <td><input ng-model="passwordMatch" type="password" /></td>
                </tr>
            </table>
        </div>

        <!-- User attributes section -->
        <div class="attributes" ng-show="managementPermissions.canChangeAttributes">
            <guac-form namespace="'USER_ATTRIBUTES'" content="attributes"
                       model="user.attributes" model-only="!managementPermissions.canChangeAllAttributes"></guac-form>
        </div>

        <!-- System permissions section -->
        <system-permission-editor ng-show="managementPermissions.canChangePermissions"
              username="selfUsername"
              data-data-source="dataSource"
              permission-flags="permissionFlags"
              permissions-added="permissionsAdded"
              permissions-removed="permissionsRemoved">
        </system-permission-editor>

        <!-- Connection permissions section -->
        <connection-permission-editor ng-show="managementPermissions.canChangePermissions"
              data-data-source="dataSource"
              permission-flags="permissionFlags"
              permissions-added="permissionsAdded"
              permissions-removed="permissionsRemoved">
        </connection-permission-editor>

        <!-- Form action buttons -->
        <management-buttons namespace="'MANAGE_USER'"
              permissions="managementPermissions"
              save="saveUser()"
              delete="deleteUser()"
              clone="cloneUser()"
              return="returnToUserList()">
        </management-buttons>

    </div>

</div>
