<!--
Copyright 2014 Glyptodon LLC.

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in
all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
THE SOFTWARE.
-->

<div class="logout-panel">
    <a class="back button" href="#/">{{'MANAGE.ACTION_NAVIGATE_BACK' | translate}}</a>
    <a class="logout button" ng-click="logout()">{{'MANAGE.ACTION_LOGOUT' | translate}}</a>
</div>

<h2>{{'MANAGE.SECTION_HEADER_ADMINISTRATION' | translate}}</h2>
<div ng-show="currentUserHasUpdate" class="settings section">

    <h3 class="require-manage-users">{{'MANAGE.SECTION_HEADER_USERS' | translate}}</h3>
    <div class="require-manage-users users">

        <p>{{'MANAGE.HELP_USERS' | translate}}</p>

        <!-- Control to create a new user -->
        <div class="user-add-form">
            <input type="text" ng-model="newUsername" class="name username" autocorrect="off" autocapitalize="off"/>
            <button class="add-user" ng-click="newUser()">{{'MANAGE.ACTION_NEW_USER' | translate}}</button>
        </div>

        <!-- List of users this user has access to -->
        <div class="user-list" ng-class="{loading: !users}">
            <div ng-repeat="user in users | orderBy : 'username'" class="user list-item">
                <div class="caption">
                    <div class="icon user"></div>
                    <a class="name" ng-href="#/manage/users/{{user.username}}">{{user.username}}</a>
                </div>
            </div>
        </div>
    </div>

    <h3 class="require-manage-connections">{{'MANAGE.SECTION_HEADER_CONNECTIONS' | translate}}</h3>
    <div class="require-manage-connections connections">

        <p>{{'MANAGE.HELP_CONNECTIONS' | translate}}</p>

        <!-- Control to create a new connection or group -->
        <div class="connection-add-form">
            <a class="add-connection button" href="#/manage/connections/">{{'MANAGE.ACTION_NEW_CONNECTION' | translate}}</a>
            <a class="add-connection-group button" href="#/manage/connectionGroups/">{{'MANAGE.ACTION_NEW_CONNECTION_GROUP' | translate}}</a>
        </div>

        <!-- List of connections and groups this user has access to -->
        <div class="connection-list" ng-class="{loading: !rootGroup}">
            <guac-group-list
                connection-group="rootGroup"
                connection-template="'app/manage/templates/connection.html'"
                connection-group-template="'app/manage/templates/connectionGroup.html'"/>
        </div>
    </div>

</div>