<div class="login-ui" ng-class="{error: loginError}" >
    <!--
    Copyright 2014 Glyptodon LLC.

    Permission is hereby granted, free of charge, to any person obtaining a copy
    of this software and associated documentation files (the "Software"), to deal
    in the Software without restriction, including without limitation the rights
    to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
    copies of the Software, and to permit persons to whom the Software is
    furnished to do so, subject to the following conditions:

    The above copyright notice and this permission notice shall be included in
    all copies or substantial portions of the Software.

    THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
    IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
    FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
    AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
    LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
    OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
    THE SOFTWARE.
    -->

    <!-- Login error message -->
    <p class="login-error">{{'LOGIN.ERROR_INVALID_LOGIN' | translate}}</p>

    <div class="login-dialog-middle">

        <div class="login-dialog">

            <form class="login-form" ng-submit="login()">

                <!-- Guacamole version -->
                <img class="logo" src="images/guac-tricolor.png" alt=""/>
                <div class="version">{{'APP.NAME' | translate}}</div>

                <!-- Login fields -->
                <div class="login-fields">
                    <guac-form namespace="'LOGIN'" content="remainingFields" model="enteredValues"></guac-form>
                </div>

                <!-- Submit button -->
                <div class="buttons">
                    <input type="submit" name="login" class="login" value="{{'LOGIN.ACTION_LOGIN' | translate}}"/>
                </div>

            </form>

        </div>

    </div>
</div>
