<div class="form-group">
  <div class="form" ng-class="getFormClasses(form)"
       ng-repeat="form in forms"
       ng-show="containsVisible(form.fields)">

    <!-- Form name -->
    <h3 class="form-header" ng-show="form.name">{{getSectionHeader(form) | translate}}</h3>

    <!-- All fields in form -->
    <div class="fields">
      <guac-form-field data-disabled="disabled" field="field"
                       focused="isFocused(field)"
                       model="values[field.name]"
                       namespace="namespace"
                       ng-if="isVisible(field)"
                       ng-repeat="field in form.fields"></guac-form-field>
    </div>

  </div>
</div>
